<nav class="navbar">
  <div class="navbar-brand">My App</div>
  <ul class="navbar-nav">
    <li><a href="#">Home</a></li>
    <li><a href="#">About</a></li>
    <li><a href="#">Contact</a></li>
  </ul>
</nav>

<table mat-table [dataSource]="dataSource">
  <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
    <th mat-header-cell *matHeaderCellDef [class.lightgreen-header]="column === 'id' || column === 'name' || column === 'company'"> {{ column | titlecase }} </th>
    <td mat-cell *matCellDef="let row" (click)="startEdit(row, column)">
      <div *ngIf="editingCell?.row === row && editingCell?.column === column; else displayCell">
        <input [(ngModel)]="row[column]">
      </div>
      <ng-template #displayCell>
        <ng-container *ngIf="column === 'photo'; else textCell">
          <img [src]="row[column]" alt="Photo" style="max-width: 50px; max-height: 50px;">
        </ng-container>
        <ng-template #textCell>
          {{ row[column] }}
        </ng-template>
      </ng-template>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>